    <h3>
        Day Tasks
    </h3>
	<div class="box-content">
		<ul style="list-style:none;float:left;font-size:20px;" class="width-100">
			{% set currentDay = '' %}

			{% for dTask in dayTasks %}

			{% if currentDay != dTask.date|date('Y-m-d') %}
			<br>
			<p><u>{{dTask.date|date('d : l')}}</u></p>
			{% endif %}

			{% set currentDay = dTask.date|date('Y-m-d') %}
			<li>
				{% if dTask.finished == true %}
				<div class="width-100" style="text-align: left">&#x2192;<strike>{{dTask.description}}</strike>
					<a href="{{path('journal_dtask_resume',{'id':dTask.id})}}">
						<i class="far fa-check-square pd-left-15 f-right mg-right-10 mg-top-5"></i>
					</a>
                    <a  href="#">
						<i id="delete-{{dTask.id}}"class="fas fa-trash-alt pd-left-15 f-right mg-right-10 mg-top-5"></i>
					</a>
				</div>
				{% else %}
				<div class="width-100" style="text-align: left">&#x2192;{{dTask.description}}
					<a href="{{path('journal_dtask_finish',{'id':dTask.id})}}">
						<i class="far fa-square pd-left-15 f-right mg-right-10 mg-top-5"></i>
					</a>
                    <a id = "{{dTask.id}}" class="deletedt" href="#">
						<i class="fas fa-trash-alt pd-left-15 f-right mg-right-10 mg-top-5"></i>
					</a>
				</div>
				{% endif %}
			</li>

			{% endfor %}
		</ul>
	</div>
	<div>
		{{form_start(formDay)}}
		<div class="container-fluid move-bottom">
			<div class="row ">
				{{form_widget(formDay.description,{'attr':{'class':'task-description col-10 '}})}}
                <a class="col-2 asubmit " id="day_task_ajax">
                    <i class="fas fa-plus submit-icon"></i>
                </a> 

			</div>

		</div>
        {{ form_end(formDay, {'render_rest': false}) }}
        
        {#{{form_end(formDay)}}#}

	</div>
