{% extends "journal/base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/journal/index.css')}}">

{% endblock %}
{% block body %}

<div class="row justify-content-center">
        <div name="box" class="col-10 col-lg-5 box">
                <div class="box-content">
                        <ul style="list-style:none;float:left;font-size:20px;">
                                {% for mTask in monthTasks %}
                                <li>
                                        <p></p>
                                        <p>{{mTask.description}}</p>
                                </li>

                                {% endfor %}
                        </ul>
                </div>
                <div>
                        {{form_start(formMonth)}}
                        <div class="container move-bottom">
                                <div class="row ">
                                        {{form_widget(formMonth.description,{'attr':{'class':'task-description col-11 '}})}}
                                        {{form_widget(formMonth.submit,{'attr':{'class':'col-1 submit fas fa-plus'}})}}

                                </div>

                        </div>
                        {{form_end(formMonth)}}

                </div>
        </div>
        <div name="box" class="col-10 col-lg-5 box">
                <div class="box-content">
                        <ul style="list-style:none;float:left;font-size:20px;">
                                {% for dTask in dayTasks %}
                                <li>
                                        <p></p>
                                        <p>{{dTask.description}}</p>
                                </li>

                                {% endfor %}
                        </ul>
                </div>
                <div>
                        {{form_start(formDay)}}
                        <div class="container move-bottom">
                                <div class="row ">
                                        {{form_widget(formDay.description,{'attr':{'class':'task-description col-11 '}})}}
                                        {{form_widget(formDay.submit,{'attr':{'class':'col-1 submit fas fa-plus'}})}}

                                </div>

                        </div>
                        {{form_end(formDay)}}

                </div>
        </div>
</div>

</div>


{% endblock %}