

{% extends "public/journal/base.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('build/css/journal/index.css')}}">

{% endblock %}

{% block sectionTitle %}
   Month Activity Log 
{% endblock %}

{% block body %}
    {#{{form_start(form)}}
    {{form_end(form)}}#}

    <div class="row justify-content-center">
        <div name="box" class="col-10 col-lg-5 box">
            <div class="box-content">

            </div>
            <div>
                {{form_start(form)}}
                <div class="container-fluid move-bottom">
                    <div class="row ">
                        {{form_widget(form.type,{'attr':{'class':'col-8 dropdown'}})}}
                        {{form_widget(form.amount,{'attr':{'class':'col-2 task-description'}})}}
                        {{form_widget(form.submit,{'attr':{'class':'col-2 submit fas fa-plus'}})}}

                    </div>

                </div>
                {{form_end(form)}}

            </div>
        </div>
    </div>
{% endblock %}
