{% extends 'public/journal/base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('build/css/journal/index.css')}}">

{% endblock %}

{% block heading_title %}
    {% trans %}Transactions{% endtrans %}
{% endblock %}

{% block body %}

    <div name="box" class="col-12 box" style="width:100%;margin-left:0;">
        <div class="container-fluid height-95">
            <div class="row">
                <div class="col-10 font-20 mg-top-10">
                    <u>{% trans %}Goals{% endtrans %}</u>
                </div>
                <div class="col-2 mg-top-10">
                    <a href="{{path('journal_goal_new')}}">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>

        </div>
        <div>
            <div class="width-100">
                <ul class="width-100 li-clean f-left mg-top-30">
                    {% for goal in goals %}
                        <li class="width-100 f-left pd-left-15 font-20" style="text-align: left">
                            &#x2192; {{goal.title}}
                            <a class="f-right mg-right-10 font-20" href="{{path('journal_goal_delete',{'id':goal.id})}}">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </a>
                            <a class="f-right mg-right-10 font-20" href="{{path('journal_goal_edit',{'id':goal.id})}}">
                                <i class="fas fa-pen-square" aria-hidden="true"></i>
                            </a>
                            <a class="f-right mg-right-10 font-20" href="{{path('journal_goal_edit',{'id':goal.id})}}">
                                <i class="fas fa-plus" aria-hidden="true"></i>
                            </a>
                            {% if goal.complete == true %}
                                <a class="f-right mg-right-10 font-20" href="{{path('journal_goal_uncomplete',{'id':goal.id})}}">
                                    <i class="far fa-check-square" aria-hidden="true"></i>
                                </a>
                            {% elseif goal.complete == false or goal.complete == null %}
                                <a class="f-right mg-right-10 font-20" href="{{path('journal_goal_complete',{'id':goal.id})}}">
                                    <i class="far fa-square" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
