{% extends 'public/journal/base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/css/formInputs.css') }}">

{% endblock %}

{% block body %}
{{ form_start(form) }}
{{form_row(form.title)}}
<div style="width:50%">
{{form_row(form.description)}}
</div>
{{form_label(form.screen)}}
<br>
{{form_widget(form.screen)}}
<br>
{{form_widget(form.imageFile)}}
<br>

<button type="submit" class="btn btn-primary mg-top-30">
    {% trans %}Send{% endtrans %}
    <i class="fas fa-arrow-circle-right"></i>
</button>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
